.button {
  height: 3.125rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background-color: var(--purple);
  color: var(--white-details);
  padding: 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  transition: filter 0.2s;

  img {
    margin-right: 0.5rem;
  }

  &.outlined {
    background-color: var(--white-details);
    border: 1px solid var(--purple);
    color: var(--purple);
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
