#page-room {
  height: 100vh;

  header {
    padding: 1.5rem;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 70rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 700px) {
        justify-content: center;

        > img {
          display: none;
        }
      }

      > img {
        max-height: 2.8125rem;
      }

      > div {
        display: flex;
        gap: 1rem;

        button {
          height: 2.5rem;
        }
      }
    }
  }

  main {
    max-width: 50rem;
    margin: 0 auto;

    @media (max-width: 700px) {
      margin: 0 1rem;
    }

    .toggleThemeContainer {
      display: flex;
      justify-content: flex-end;
      margin-top: 2rem;
    }

    .room-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;

      @media (max-width: 700px) {
        justify-content: space-between;
      }

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        color: var(--black-text);
      }

      h1.dark {
        color: var(--white-details);
      }

      span {
        margin-left: 1rem;
        background-color: var(--pink-dark);
        border-radius: 625rem;
        padding: 0.5rem 1rem;
        color: var(--white-details);
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: var(--white-details);
        box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 8.125rem;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        @media (max-width: 700px) {
          min-height: 8rem;
          flex-direction: column;

          #send-question {
            @media (max-width: 700px) {
              width: 90vw;
            }
          }
        }

        .user-info {
          display: flex;
          align-items: center;

          @media (max-width: 700px) {
            margin-right: auto;
          }

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }
          span {
            margin-left: 0.5rem;
            color: var(--black-text);
            font-weight: 500;
            font-size: 0.875rem;
          }
          span.dark {
            color: var(--white-details);
          }
        }

        > span {
          font-size: 0.875rem;
          color: var(--gray-dark);
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: var(--purple);
            text-decoration: underline;
            font-size: 0.875rem;
            font-weight: 500;
          }
        }
      }
    }

    .question-list {
      margin-top: 2rem;
    }
  }
}
