.question {
  background-color: var(--white-details);
  border-radius: 0.5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 1.5rem;
  position: relative;

  & + .question {
    margin-top: 0.5rem;
  }

  &.highlighted {
    background-color: #f4f0ff;
    border: 1px solid var(--purple);

    footer .user-info span {
      color: var(--black-text);
    }
  }

  &.answered {
    background-color: var(--gray-light);
  }

  p {
    color: var(--black-text);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
      span {
        margin-left: 0.5rem;
        color: var(--gray-dark);
        font-size: 0.875rem;
      }
    }

    > div {
      display: flex;
      gap: 0.75rem;
    }

    .counterLikesAdm {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      bottom: auto;
      color: var(--gray-dark);
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      cursor: default;
      background-color: var(--pink-dark);
      border-radius: 0.2rem;
      padding: 0.5rem 1rem;
      color: var(--white-details);
      font-weight: 500;
      font-size: 14px;
    }

    button {
      border: 0;
      background: transparent;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--gray-dark);
        gap: 0.5rem;

        &.liked {
          color: var(--purple);

          svg path {
            stroke: var(--purple);
          }
        }
      }

      &:not(:disabled):hover {
        filter: brightness(0.7);
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}
